.capture1
{
	position:relative;
	border: 5px solid white ;
	border-radius: 1.5em;
	height: 18.75em; 
	width: 12.5em;
	object-fit: cover;
	color: #ffff;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	transition: all 0.3s ease;
	margin: 0 auto;
}

.capture1:hover{
    -webkit-transform: scale(1.14);
}

h1
{
	font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
	font-size: 1.875em;
	color: white ;
	height: 3.125em;
	width: 31.25em;
	position: relative;
	text-align: center;
	left: 50%;
	transform: translate(-50%);
}


.TitreAction
{
	position: fixed;
	top: 0%;
	left: 21.875em;
	text-align: center;
}
.TitreDrame
{
	position: fixed;
	top: 14.375em;
	left: 40.625em;

}

.TitreRomantique
{
	position: fixed;
	top: 14.375em;
	left: 59.375em;

}

.BarreRecherche
{
	position: fixed; 
	top: 1em;
	right: 1.25em;
	background-color: white;
	width: 25em;
	height: 3.125em;
	border-radius: 1.875em;
	
}
.Loupe
{
	position: fixed;
	height:2.5em;
	width: 2.5em;
	z-index:1 ;
	top:1.25em;
	right:1.75em;
	border-radius: 1.875em;
}
.search_barre
{
	width: 16em;
	height: 1.25em;
	top: 1.25em;
	right:4.25em;
	background-color: white;
	border: 0em;
	position: fixed;
	outline: none;
	font-size: 1.25em;
	font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
}
.Instagram
{
	position:absolute;
	top: 25em;
	left: -12em;
	height: 1.5em; 
	width: 1.5em;
	transition: all 0.3s ease;
}

.Instagram:hover{

    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);

}

.Twitter
{
	position:fixed;
	top: 24.75em;
	left: 0em;
	height: 2.188em; 
	width: 2.188em;
	transition: all 0.3s ease;
}

.Twitter:hover{

    -webkit-transform: scale(1.);
    -ms-transform: scale(1.3);
    transform: scale(1.3);

}

.Facebook:hover{

	-webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.Facebook
{
	position:fixed;
	top: 24.75em; 
	left:12em;
	height: 2.188em; 
	width: 2.188em;
	transition: all 0.3s ease;
}

.Entete
{
	position: fixed;
	width: 100%;
	height: 5em;
	left: 0;
	top: 0;
	text-align: center;

}

.Réseaux
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}

.Categorie
{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 14.5em;
	left: 50%;
	transform: translate(-50%);
}

.Menu
{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.catalogue
{
	position: relative;
	background-color: white;
	width:3.125em;
	height:0.625em;
	border-radius:0.313em;
	margin: 0.5em;
	left:-1.15em;
}

.catalogue1
{
	position: relative;
	background-color: transparent;
	width:3.125em;
	height:0.625em;
	border-radius:0.313em;
	margin: 0.5em;
}


.catalogue:hover
{
	-webkit-transform: translate(10%);
}


.Home
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 3.438em; 
	width: 3.438em;
	transition: all 0.3s ease;
}

.Home:hover
{
	border: 0.1em solid white;
	border-radius: 0.5em;
}

.catalogue2
{
	background-color: transparent;
	position: absolute;
	height: 4em;
	width: 4em;
	top:1.6em;
	left: -1em;
	transform: translate(0, -50%);
	z-index: 1;
	border-radius: 0.25em;
}
.choix_catalogue:target
{
	z-index: 3;
	height: 35em;
	width: 17.5em;
	background-color: #1f202d;
	position: absolute;
	top: 0;
	left: 0;
	border: solid 0.2em #1f202d;
	display: block;
}
.choix_catalogue
{
	z-index: 3;
	height: 35em;
	width: 17.5em;
	background-color: #1f202d;
	position: absolute;
	top: 0;
	left: -30em;
	border: solid 0.2em white;
	display: block;
	transition: all 0.3s ease;
}
.cross
{
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  top: 1.5em;
  left: 18em;
}
.croix1
{
	width: 2.5em;
	height: 0.2em;
	transform: rotate(45deg);
	background-color: white;
	position: absolute;
}
.croix2
{
	width: 2.5em;
	height: 0.2em;
	transform: rotate(-45deg);
	background-color: white;
	position: absolute;
}
.sol
{
	height: 6.25em;
	width: 4.5em;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 0.5em;
	z-index: 4;
}
.ligne_noir
{
	height: 0.2em;
	width: 100%;
	background-color: black;
	top: 8.25em;
	left: 0;
	position: fixed;
	z-index: 3;
}
.supérieur
{
	font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
	color: white;
	font-size: 1.25em;
	z-index: 2;
	position: relative;
	text-align: center;
	transform: translate(0, -75%);
	font-weight: bold;
}
.carré1
{
	width: 90%;
	position: relative;
	height: 2em;
	border-top: 0.1em solid darkgray;
	border-bottom: 0.1em solid darkgray;
	margin: 0.75em;

}

.titre_choix
{
	font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
	color: white;
	font-size: 1.25em;
	position: relative;
	z-index: 2;
	margin-left: 1em;
	transition: 0.3s;
	text-align: center;
}
.titre_choix:hover
{
	color: darkgray
}

.transparent
{
	color: transparent;
}

.ChoixCat
{
	position: relative;
	margin: 2em;
	width: 15em;
	text-align: center;



}